<!--


<connectionStrings>
  <add name="dev_spartanclashbackendEntities" connectionString="metadata=res://*/Models.H5DataPipelineModel.csdl|res://*/Models.H5DataPipelineModel.ssdl|res://*/Models.H5DataPipelineModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=[server];user id=[user];password=[password];persistsecurityinfo=True;database=spartanclash_datapipeline&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>




-->